# /etc/default/grub.d/99-iso-hardening.cfg
# Kernel hardening parameters for ash ISO

# Lockdown mode: integrity (prevents loading unsigned modules, disabling SELinux, etc.)
# Can be set to "confidentiality" for even stronger protection
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT lockdown=integrity"

# Kernel hardening
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT slab_nomerge init_on_alloc=1 init_on_free=1 page_alloc.shuffle=1"

# ASLR / KASLR
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT kaslr"

# Disable mitigation bypasses
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT spec_store_bypass_disable=on spectre_v2=on ssbd=force kvm.nx_huge_pages=force"

# Disable BPF unprivileged access
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT bpf_jit_harden=1"

# Randomize module address space
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT module.sig_enforce=1"

# Disable debugfs and access to kernel memory
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT debugfs=off"

# Restrict IOMMU for DMA protection
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT iommu=force iommu.strict=1"

# Disable legacy vsyscall (obsolete, used for exploits)
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT vsyscall=none"

# Mitigate TLB flush even on privileged access
GRUB_CMDLINE_LINUX_DEFAULT="$GRUB_CMDLINE_LINUX_DEFAULT kpti=1"
