[Unit]
Description=Auto-detect Keyboard Layout
After=display-manager.service
Before=iso-firstboot.service

[Service]
Type=oneshot
ExecStart=/usr/lib/iso/detect-keyboard.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
