[Unit]
Description=Update nftables VM Network Set
After=network-online.target nftables.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/lib/iso/firewall-vm-nets.sh

[Install]
WantedBy=multi-user.target